*
{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

header
{
	background-color: #ffd700;
	color: #8b008b;
	font-family: "Sofia", sans-serif;
	font-size:20px;
}
main
{
	background-color: #3cb371;
	color: black;
	
}
footer
{
	background-color: #98fb98;
	color: black;
}

header, main, footer
{
	padding: 30px;
}
header a,
main a
{
	display: ;
	color: white;
	background-color: #8b008b;
	padding: 10px;
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	border-radius: 5px;
	margin: 5px;
}
header a:hover,
main a:hover
{
	color: white;
	background-color: #3333ff;
}

.flexibel
{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;	
	justify-content: space-between;
}

.produktvorschau
{
	display: block;
	background-color: #000099;
	padding: 10px;
	margin: 10px;	
	text-align: center;
	
	text-decoration: none;
	border-radius: 10px;
}

.produktvorschau:hover
{
	color: white;	
	background-color:#9999ff;
}

.alter1{
	background-color: #a9a9a9;
	color: black;
	font-weight: bold;
}
.alter2{
	background-color: #8fbc8f;
	color: black;
	font-weight: bold;
}
.alter3{
	background-color: #008b8b;
	color:white;
}
th
{
	padding: 10px;
	background-color: #ff7f50;
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
}
td
{
	padding: 5px;
	/*background-color: #008b8b;
	color: white;*/
	font-family: 'Merriweather Sans', sans-serif;
	font-size:20px;
}
input,select,textarea
{
	padding: 10px;
	background-color: #aaccff;
	font-weight: bold;
	border-radius: 5px;
	border: 0px;
	margin: 10px;
}
input:hover,select:hover,textarea:hover
{
	background-color: #ffcccc;
}
button
{
	background-color: #0000cc;
	color: white;
	padding: 10px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;
}
button:hover
{
	background-color: red;
	color: white;
}
button:disabled,input:disabled,input[disabled],
button[disabled],.disableClass{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
   pointer-events: none;
}

h1{
	
	font-family: 'Indie Flower', cursive;
	font-size:40px;
	
}
}
.mitteilung
{
	background-color: cyan;
	font-weight: bold;
	color: darkblue;
	border-radius: 10px;
	padding: 10px;
}


form
{
	border: 1px dashed white;
	padding: 5px;
	border-radius: 10px;
}